In [112]:
# Imports
import pandas as pd
import numpy as np
from collections import Counter
import sys
import time
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from scipy.stats import ttest_ind

In [90]:
# Get the data into a dataframe to manupulate and do preprocessing
dataFile = 'AmItheAsshole_with_comments_10.csv'
df = pd.read_csv(dataFile)
df = df[['comments', 'body']]

gt_array = []
np.array(gt_array)
for row in df.itertuples():
    arr = row[1].lower()
    nta_count = arr.count('nta') + arr.count('nah')
    yta_count = arr.count('yta') + arr.count('esh')
    if nta_count == 0 and yta_count == 0:
        ratio = .5
    elif nta_count > 0:
        ratio = yta_count / nta_count
    else:
        ratio = 1
    
    if ratio > .45 and ratio < .55:
        gt_array.append(2)
    elif nta_count > yta_count:
        gt_array.append(0)
    else:
        gt_array.append(1)

gt_data = {'label': gt_array}
gt_df = pd.DataFrame(gt_data)
display(gt_df)

     label
0        0
1        0
2        0
3        0
4        2
..     ...
988      0
989      0
990      0
991      0
992      0

[993 rows x 1 columns]

In [91]:
bag_of_words = (
    df['body'].
    str.lower().                  # convert all letters to lowercase
    str.replace("[^\w\s]", " ").  # replace non-alphanumeric characters by whitespace
    str.split()                   # split on whitespace
)

raw_frequency = bag_of_words.apply(Counter)

df['selftext'] = raw_frequency

tf = pd.DataFrame(list(raw_frequency),index=raw_frequency.index)
columns = list(tf.columns)
tf = tf.fillna(0)

stopFile = 'stopwords.txt'
f = open(stopFile, "r")
stop_words = []
for line in f:
    words = line.split(',')
for word in words:
    word = word.replace('"', "").strip(" ").lower()
    stop_words.append(word)
    
for col in columns:
    if col in stop_words:
        tf = tf.drop([col], axis=1)

# Get document frequencies 
# (How many documents does each word appear in?)
df = (tf > 0).sum(axis=0)

# Get IDFs
idf = np.log(len(tf) / df)
idf.sort_values()

# Calculate TF-IDFs
tf_idf = tf * idf
tf_idf

<ipython-input-91-6f6bec422375>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['body'].

['"I"', ' "a"', ' "about"', ' "an"', ' "are"', ' "as"', ' "at"', ' "be"', ' "by"', ' "com"', ' "for"', ' "from"', ' "how"', ' "in"', ' "is"', ' "it"', ' "of"', ' "on"', ' "or"', ' "that"', ' "the"', ' "this"', ' "to"', ' "was"', ' "what"', ' "when"', ' "where"', ' "who"', ' "will"', ' "with"', ' "the"', ' "www"']

,my,brother,law,sammy,lost,his,home,shortly,after,divorce,...,counterfeit,epidemic,celibate,incensed,crooked,ardent,fervour,righteouness,dvhqjqc,heavens
0,0.121768,3.638653,3.072089,31.037917,1.980750,4.316176,1.985295,3.722677,1.788846,3.187159,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.015221,1.819326,0.000000,0.000000,0.000000,0.616597,0.992648,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.745829,0.000000,0.000000,0.000000,3.961499,0.616597,0.992648,0.000000,2.385127,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.182652,0.000000,0.000000,0.000000,0.000000,0.616597,1.985295,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.076105,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
988,0.395746,0.000000,0.000000,0.000000,0.000000,0.000000,0.992648,0.000000,0.596282,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
989,0.258757,0.000000,0.000000,0.000000,1.980750,1.849790,0.992648,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
990,0.030442,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
991,0.030442,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.192564,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
992,0.304420,3.638653,0.000000,0.000000,0.000000,1.849790,0.000000,0.000000,0.596282,0.000000,...,6.900731,6.900731,6.900731,6.900731,6.900731,6.900731,6.900731,6.900731,13.801461,6.900731

In [110]:
# scikit learns version of RandomForests
def randomForest(df, gt_df):
    #implement the random forest algorithm on the data
    X = df
    y = gt_df['label']
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
    rf = RandomForestClassifier(n_estimators=20)
    rf.fit(X_train, y_train)
    y_pred = rf.predict(X_test)
    display(y_pred)
    print('Accuracy:', accuracy_score(y_test, y_pred))

In [116]:
# scikit learns version of RandomForests
def KNN(df, gt_df):
    #implement the random forest algorithm on the data
    X = df
    y = gt_df['label']
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
    neigh = KNeighborsClassifier(n_neighbors=3)
    neigh.fit(X_train, y_train)
    y_pred = neigh.predict(X_test)
    display(y_pred)
    print('Accuracy:', accuracy_score(y_test, y_pred))

In [117]:
randomForest(tf_idf, gt_df)

0      0
1      0
2      0
3      0
4      2
      ..
988    0
989    0
990    0
991    0
992    0
Name: label, Length: 993, dtype: int64

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0], dtype=int64)

Accuracy: 0.864321608040201

In [118]:
KNN(tf_idf, gt_df)

0      0
1      0
2      0
3      0
4      2
      ..
988    0
989    0
990    0
991    0
992    0
Name: label, Length: 993, dtype: int64

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0], dtype=int64)

Accuracy: 0.864321608040201